@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImageClass {
  background: url('../../public/background.jpg');
  min-height:calc(100vh - 30px);
  background-size: cover;
}

@keyframes slideInFromLeft {
   from {
     transform: translateX(-100%);
   }
   to {
     transform: translateX(0);
   }
 }

 .slide_from_left{
   animation: slideInFromLeft 0.5s forwards;
 }

 @keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide_from_right{
  animation: slideOutToRight 0.5s forwards;
}